            .header {
                height: 50px;
                background-color: rgb(27, 3, 114);
                width: 101%;
                padding: 5px;
                margin: -8px;
            }
            /*.logo {
    width: 100px;
    height: 50px;
    background-color: rgb(0, 2, 128);
}*/
            
            li {
                display: inline;
                padding: 5px;
                margin: 10px;
                font-size: 20px;
                border-color: unset;
                float: right;
            }
            
            a {
                text-decoration: none;
                color: rgb(255, 255, 255);
            }
            
            input {
                height: 50px;
                border-radius: 20px;
                border: 0.5px solid #9b00f5;
                text-align: center;
            }
            
            .ok {
                height: 50px;
                width: 120px;
                border-radius: 20px;
                border: 0.5px solid #9b00f5;
                text-align: center;
                cursor: pointer;
                background-color: unset;
                position: relative;
                left: 30px;
                top: 0px;
            }
            
            .place {
                width: 220px;
                height: 45px;
            }
            
            .search {
                background-image: linear-gradient( rgb(135, 0, 245), #00c4f5);
                font-size: 15px;
            }
            
            .search::placeholder {
                color: white;
            }
            
            .left {
                width: 200px;
                height: 1550px;
                border-radius: 10px;
                border: 0.5px solid #9b00f5;
                display: inline-block;
            }
            
            .view {
                text-align: center;
                font-size: 20px;
                color: rgb(24, 150, 209);
                font-family: cursive;
            }
            
            .map {
                width: 200px;
            }
            
            .check {
                display: inline-block;
            }
            
            .checkbox {
                position: relative;
                top: -12px;
            }
            
            .right {
                display: inline-block;
                height: 1300px;
                width: 620px;
                border: 0.5px solid #ffffff;
                padding: 40px;
            }
            
            .one {
                width: 600px;
                height: 200px;
                border: 0.2px solid #9b00f5;
                border-radius: 10px;
                margin: 20px;
            }
            
            .photo {
                width: 350px;
                height: 200px;
                border-radius: 10px;
            }
            
            .int {
                display: inline-block;
                position: relative;
                top: -50px;
                left: 30px;
            }
            
            button {
                text-align: center;
                height: 50px;
                width: 140px;
                border-radius: 20px;
                border-color: unset;
                background-image: linear-gradient(rgb(135, 0, 245), #00c4f5);
                color: white;
                position: relative;
                left: 0px;
                top: 20px;
                font-size: 20px;
                cursor: pointer;
            }
            
            .price {
                color: rgb(104, 3, 219);
                font-size: 20px;
                cursor: pointer;
            }
            
            .rate {
                width: 50px;
                height: 50px;
            }
            
            .footer {
                width: 101%;
                height: 400px;
                margin: -10px;
                padding: 10px;
                background-color: rgb(0, 0, 100);
                position: relative;
                top: 280px;
                left: 0px;
            }
            
            .br {
                padding: 5px;
                margin: 10px;
                font-size: 20px;
                border-color: unset;
                float: left;
            }
            
            .fri {
                color: white;
                font-size: 20px;
                font-weight: bold;
            }
            
            .frist {
                width: 180px;
            }
            
            .second {
                display: inline-block;
                position: relative;
                top: -175px;
                left: 170px;
            }
            
            .third {
                display: inline-block;
                position: relative;
                top: -175px;
                left: 220px;
            }
            
            .dd {
                position: relative;
                top: -500px;
                left: 80%;
                color: white;
                font-size: 20px;
            }